# Dependencies
node_modules
package-lock.json

# Build outputs
dist
*.local

# Logs
*.log
npm-debug.log*

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Environment variables
.env
.env.local
.env.production

# Misc
*.swp
*.swo
*~
